body{
    background-color: #0D1334;
}
#logo{
width: 300px;
height: 300px;
margin-left: 40px;
}
#album{
width: 500px;
height: 500px;
margin-left: 20px;
}
a{
text-decoration: none;
margin-left: 100px;
color: white;
font-size: 54px;
position: relative;
top: -190px;
right: -330px;
font-family: "Kenia", sans-serif;
}
a:hover{
color: #4F91EC;
}
#homeh1{
font-family: "Kenia", sans-serif;
color: white;
font-size: 60px;
position: relative;
top: -540px;
right: -540px;
}
#song1{
color: white;
font-family: "Kenia", sans-serif;
position: relative;
top: -550px;
right: -570px;
font-size: 30px;
background-color: #030220;
padding: 20px;
border-radius: 10px;
display: inline-block;
}
#song2{
color: gray;
font-family: "Kenia", sans-serif;
position: relative;
top: -550px;
right: -550px;
font-size: 30px;
background-color: #030220;
padding: 20px;
border-radius: 10px;
display: inline-block;
}
#tour1{
color: white;
font-family: "Kenia", sans-serif;
font-size: 30px;
position: relative;
top: -180px;
right: 200px;
background-color: #030220;
padding: 20px;
border-radius: 10px;
display: inline-block;
}
#tour2{
color: gray;
font-family: "Kenia", sans-serif;
font-size: 30px;
position: relative;
top: -850px;
right: -630px;
background-color: #030220;
padding: 20px;
border-radius: 10px;
display: inline-block;
}
#tourh1{
    font-family: "Kenia", sans-serif;
    color: white;
    font-size: 60px;
    position: relative;
    top: -150px;
    right: -450px;
}
#missout{
    font-family: "Kenia", sans-serif;
    color: gray;
    font-size: 60px;
    position: relative;
    top: -160px;
    right: -450px;
}
#albumtour{
    width: 300px;
    height: 220px;
    position: relative;
    top: -770px;
    right: -850px;
}
#formquistion{
    color: white;
    font-family: "Kenia", sans-serif;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #030220;
    display: inline-block;
    position: relative;
    top: -130px;
}
#contacth1{
    color: white;
    font-family: "Kenia", sans-serif;
    font-size: 40px;
}
#contactdetails{
    color: white;
    position: relative;
    top: -130px; 
}
#formbooking{
    color: white;
    font-family: "Kenia", sans-serif;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #030220;
    display: inline-block;
    margin-left: 430px;
    position: relative;
    top: -76px;
}
#bookh1{
    color: white;
    font-family: "Kenia", sans-serif;
    font-size: 40px;
    position: relative;
    top: -60px;
    right: -715px;
}